.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__nopEc {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__nopEc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nopEc > :global(.__wab_flex-container) > *,
.freeBox__nopEc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nopEc > :global(.__wab_flex-container) > picture > img,
.freeBox__nopEc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nopEc {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__dUkvH {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__ivNEj {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__jg2Lq:global(.__wab_instance) {
  position: relative;
}
.img___9CCh {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___9CCh > picture > img {
  object-fit: cover;
}
.img___9CCh > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__ek95:global(.__wab_instance) {
  position: relative;
}
.img__qm9KB {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__qm9KB > picture > img {
  object-fit: cover;
}
.img__qm9KB > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__mtg00:global(.__wab_instance) {
  position: relative;
}
.img__h2RiV {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__h2RiV > picture > img {
  object-fit: cover;
}
.img__h2RiV > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__rUnMk:global(.__wab_instance) {
  position: relative;
}
.img__aogJt {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__aogJt > picture > img {
  object-fit: cover;
}
.img__aogJt > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__tq4E9 {
  display: flex;
  flex-direction: column;
}
.freeBox__tq4E9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tq4E9 > :global(.__wab_flex-container) > *,
.freeBox__tq4E9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tq4E9 > :global(.__wab_flex-container) > picture > img,
.freeBox__tq4E9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wrnqw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__aipGo {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox___5Qyl {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___5Qyl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5Qyl > :global(.__wab_flex-container) > *,
.freeBox___5Qyl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Qyl > :global(.__wab_flex-container) > picture > img,
.freeBox___5Qyl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___1NtCw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ggnIs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__dp3Ig {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: lsuAD2mnVBUf */;
  width: 28px;
  height: 28px;
}
.text__uyF2F {
  padding-left: 0px;
}
.column___9IFt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___3IZuk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__gMj5C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: lsuAD2mnVBUf */;
  width: 28px;
  height: 28px;
}
.text__nvsgY {
  padding-left: 0px;
}
.column__jF9YM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__g5HXv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zonqM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: lsuAD2mnVBUf */;
  width: 28px;
  height: 28px;
}
.text__vDqNt {
  padding-left: 0px;
}
.column___0ChR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ghCxa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zFgUa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: lsuAD2mnVBUf */;
  width: 28px;
  height: 28px;
}
.text__rnesU {
  padding-left: 0px;
}
.freeBox___1ZoTn {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox___1ZoTn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___1ZoTn > :global(.__wab_flex-container) > *,
.freeBox___1ZoTn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1ZoTn > :global(.__wab_flex-container) > picture > img,
.freeBox___1ZoTn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1ZoTn {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__p9Ho {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__p9Ho > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__p9Ho > :global(.__wab_flex-container) > *,
.freeBox__p9Ho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p9Ho > :global(.__wab_flex-container) > picture > img,
.freeBox__p9Ho
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__nUPd5 {
  display: flex;
  flex-direction: column;
}
.freeBox__nUPd5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nUPd5 > :global(.__wab_flex-container) > *,
.freeBox__nUPd5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nUPd5 > :global(.__wab_flex-container) > picture > img,
.freeBox__nUPd5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__iu77 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__maCfi {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__maCfi {
    text-align: center;
  }
}
.text__naKWo {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__r1Pld {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__r1Pld > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__r1Pld > :global(.__wab_flex-container) > *,
.freeBox__r1Pld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r1Pld > :global(.__wab_flex-container) > picture > img,
.freeBox__r1Pld
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r1Pld {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r1Pld > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r1Pld > :global(.__wab_flex-container) > *,
  .freeBox__r1Pld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r1Pld > :global(.__wab_flex-container) > picture > img,
  .freeBox__r1Pld
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__geuxH:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___46Qqm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fShOr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lAclv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gz276 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__fqq0Z {
  height: auto;
}
.priceCard__fbov:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jDAoo {
  color: #ff3b30 /* plasmic-token: OGAcX_Am7TKx */;
}
.valueProp__w5Zvw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pR2HP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___2XKc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1CoDz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___6OxjB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vItKx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__m4JvC {
  height: auto;
}
.priceCard__wp9Lg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jZpsz {
  color: #34c759 /* plasmic-token: nQYA-_T6i2nD */;
}
.valueProp__r7WJi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f9Jli {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uttzx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xuHlg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gjc3D:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5Gil1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ibix0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sSwOz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__p3S4Y {
  height: auto;
}
.priceCard__hPU4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___9QdjW {
  color: #007aff /* plasmic-token: nxBsKRJrQmZV */;
}
.valueProp__j2Xv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mLoj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7D0Bp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sgERw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fegU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kcDHi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__c2Gl8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oXHms {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wnWzT {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
